* {
font-family: SVN-Gilroy, sans-serif;
margin:0;
padding:0;
box-sizing: border-box;
}

/* Navbar Styling*/

nav {
   position: fixed;
   padding-right: 20px;
   padding-left: 20px;
   width: 100%;
   height: 60px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #FCEED5;
   z-index: 1000;
}

#navlist {
   list-style-type: none;
   line-height: 23.558px;
   font-style: normal;
   font-weight: 700;
   font-size: 15.705px;
}

.navlink {
   color: var(--Primary-Color-Dark-Blue, #003459);
   font-size: 16.088px;
   text-decoration: none;
}

#navlist {
   display: flex;
   gap: 47.115px;
   font-style: normal;
   line-height: 23.558px;
}

#nav-left {
   padding-left: 20px;
   display: flex;
   gap: 47.115px;
   align-items: center;

}

nav #nav-right {
   padding-right: 20px;
   display: flex;
   align-items: center;
   gap: 47.115px;
}

#search-bar {
   display: flex;
   width: 274.84px;
   padding: 11.779px 19.631px 11.779px 15.705px;
   gap: 11.779px;
   align-items: center;
   border-radius: 45.152px;
   background-color: #FDFDFD;
}

#search {
   font-family: SVN-Gilroy, sans-serif;
   background-color: #FDFDFD;
   border: none;
   outline: none;
   color: var(--Neutral-Color-40, #99A2A5);
   font-size: 13.742px;
   font-style: normal;
   font-weight: 500;
   line-height: 19.631px; /* 142.857% */
}

#join-btn {
   color: #FDFDFD;
   border: none;
   font-weight: 500;
   font-style: normal;
   font-size: 13.742px;
   border-radius: 55.95px;
   line-height: 19.558px;
   background: var(--Primary-Color-Dark-Blue, #003459);
   display: flex;
   height: 43.189px;
   padding: 13.742px 27.484px 9.816px 27.484px;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

#languages {
   display: flex;
   background-color: #FCEED5;
   padding: 9.816px 7.853px 7.853px 7.853px;
   justify-content: flex-end;
   align-items: center;
   gap: 3.926px;
   align-self: stretch;
   border: none;
   outline: none;
   cursor: pointer;
}

/* Landing Page Styling*/

#landing-page {
   color: var(--Primary-Color-Dark-Blue-80, #002a48);
   width: 100%;
   height: 510.193px;
   border-radius: 0 0 39.263px 39.263px;
   background: var(--Linear, linear-gradient(103deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%));
   padding-top: 80px;
}

/* Dogs List Container Styling */
#container {
   background-color: #FDFDFD;
   padding:40px;
}

#content {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 20px;
}

#footer {
   border-radius: 30.219px 30.219px 0 0;
   width:100%;
   padding:40px;
   background: linear-gradient(103deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
}

.foot-nav {
   text-decoration: none;
   color: var(--Neutral-Color-100, #00171F);
   font-size: 16.088px;
   font-style: normal;
   font-weight: 500;
   line-height: 18.131px; /* 150% */
}

.terms_pol {
   text-decoration: none;
   color:#667479;
}

.socmed {
   height:24px;
   cursor:pointer;
}

@media only screen and (max-width: 600px) {

   nav {
      display: flex;
   }

  #join-btn {
      display: none;
  }

  #navlist {
      display: none;
  }

  #search-bar {
      display: none;
  }

  #languages {
      display: none;
  }

  #logo {
      align-content: center;
  }

  #landing-page {
      flex-direction: column;
  }

  #lanpage-text {
   padding-left: 20px;
   padding-right: 20px;
  }

  #lanpage-img {
   width: 100%;
   height: 450px;
   margin-top: 40px;
  }

  #dog-img {
   width: 300px;
   left: 50%;
   height: auto;
  }

  #rtgl-wht, #rtgl-blue {
   left: 50%;
   transform: translateX(-50%) rotate(25.23deg);
  }

}
