* {
font-family: SVN-Gilroy, sans-serif;
margin:0;
padding:0;
box-sizing: border-box;
}

/* Navbar Styling*/

nav {
   position: fixed;
   padding-right: 20px;
   padding-left: 20px;
   width: 100%;
   height: 60px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #FCEED5;
   z-index: 1000;
}

#navlist {
   list-style-type: none;
   line-height: 23.558px;
   font-style: normal;
   font-weight: 700;
   font-size: 15.705px;
}

.navlink {
   color: var(--Primary-Color-Dark-Blue, #003459);
   font-size: 16.088px;
   text-decoration: none;
}

#navlist {
   display: flex;
   gap: 47.115px;
   font-style: normal;
   line-height: 23.558px;
}

#nav-left {
   padding-left: 20px;
   display: flex;
   gap: 47.115px;
   align-items: center;

}

nav #nav-right {
   padding-right: 20px;
   margin-left: 35px;
   display: flex;
   align-items: center;
   gap: 47.115px;
}

#search-bar {
   display: flex;
   width: 274.84px;
   padding: 11.779px 19.631px 11.779px 15.705px;
   gap: 11.779px;
   align-items: center;
   min-width: fit-content;
   border-radius: 45.152px;
   background-color: #FDFDFD;
}

#search {
   font-family: SVN-Gilroy, sans-serif;
   background-color: #FDFDFD;
   border: none;
   outline: none;
   color: var(--Neutral-Color-40, #99A2A5);
   font-size: 13.742px;
   font-style: normal;
   font-weight: 500;
   line-height: 19.631px;
}

#join-btn {
   color: #FDFDFD;
   border: none;
   font-weight: 500;
   font-style: normal;
   font-size: 13.742px;
   border-radius: 55.95px;
   line-height: 19.558px;
   background: var(--Primary-Color-Dark-Blue, #003459);
   display: flex;
   min-width: fit-content;
   height: 43.189px;
   padding: 13.742px 27.484px 9.816px 27.484px;
   justify-content:center;
   align-items: center;
   cursor: pointer;
}

#languages {
   display: flex;
   background-color: #FCEED5;
   padding: 9.816px 7.853px 7.853px 7.853px;
   justify-content: flex-end;
   align-items: center;
   gap: 3.926px;
   align-self: stretch;
   border: none;
   outline: none;
   cursor: pointer;
}

#search-btn {
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--Neutral-Color-40, #99A2A5);
    font-size: 16.742px;
    font-style: normal;
    font-weight: 500;
    line-height: 19.631px;
    cursor: pointer;
}

/* Landing Page Styling*/

#landing-page {
    display:grid;
    grid-template-columns: 1fr 1fr;
    width:100%;
    align-items:center;
    color: var(--Primary-Color-Dark-Blue-80, #002a48);
    border-radius: 0 0 39.263px 39.263px;
    background: var(--Linear, linear-gradient(103deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%));
    padding-top: 80px;
}

#landing-page > #lanpage-text {
    padding-left:40px;
    padding-top:20px;
    width:100%;
}

/* Dogs List Container Styling */
#container {
   background-color: #FDFDFD;
   padding:40px;
}

#content {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 20px;
}

/* Footer Styling */

#footer {
   border-radius: 30.219px 30.219px 0 0;
   width:100%;
   padding:40px;
   background: linear-gradient(103deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
}

.foot-nav {
   text-decoration: none;
   color: var(--Neutral-Color-100, #00171F);
   font-size: 16.088px;
   font-style: normal;
   font-weight: 500;
   line-height: 18.131px; /* 150% */
}

.terms_pol {
   text-decoration: none;
   color:#667479;
}

.socmed {
   height:24px;
   cursor:pointer;
}

/* RESPONSIVENESS */

/* For Phone/small-screen devices */

@media only screen and (max-width: 600px) {

/* Navbar */

  #join-btn,
  #navlist,
  #search-bar,
  #languages {
      display: none;
  }

  #search-btn {
    position: absolute;
    display:inline-block;
  }

  #logo {
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
  }

/* Landing page */

  #landing-page {
      grid-template-columns: 1fr !important;
      grid-template-rows: auto auto !important;
      overflow:hidden;
  }

  #lanpage-text {
      padding-left: 20px;
      padding-right: 20px;
      width: 100%;
      max-width: 600px;
      order: 1;
      margin-bottom: 70px;
  }

  #lanpage-text > h1 {
    font-size: 50px !important;
  }

  #lanpage-text > h2 {
    font-size: 40px !important;
  }

  #lanpage-img {
      width:100%;
      height: 100%; 
      order:2;
      box-sizing: border-box;
      margin-top: 40px;
  }

  #dog-img {
      left: 50% !important;
      transform: translateX(-50%) !important;
      bottom: auto !important;
  }

  #rtgl-wht, #rtgl-blue {
      left: 0;
      transform: translateX(-50%) rotate(25.23deg);
  }

  #img-mask {
      left: 50% !important;
      transform: translateX(-50%) !important;
      bottom: auto !important;
      top: 0 !important;
  }

/* Products Container */

  #content {
      grid-template-columns: 1fr; 
      align-items: center;
      padding: 40px;
  }

/* Footer */

  #register-box {
      flex-direction: column;
  }

  #register-form {
      flex-direction: column;
      width: 100%;
  }

  #register-form, #subscribe-btn {
      width: 100% !important;
  }

  #footer-top {
      flex-direction: column;
  }

  #footer-top > ul {
   padding: 20px;
   gap: 25px;
  }

  #footer-top > div {
      padding: 10px 60px;
  }

  #footer-bottom {
      display: grid !important;
      grid-template-columns: 1fr !important;
      grid-template-rows: auto auto auto !important;
      gap: 15px;
      justify-self: center;
      place-items: center;
  }

  #footer-creds {
      order: 2;
  }

  #footer-logo {
      order: 1;
      align-content: center;
  }

  #footer-bottom > ul {
      order: 3;
  }

}

/* For portrait tablet devices */

@media only screen and (min-width: 600px) {

/* Navigation Bar */

    nav {
        padding: 20px 40px;
    }
    
    #join-btn,
    #search-bar,
    #languages {
        display: none;
    }

    #search-btn {
        margin-left: 20px;
        margin-right: 20px;
    }

/* Landing Page */

    

/* Products Container */

    #content {
        grid-template-columns: 1fr 1fr; 
        align-items: center;
        padding: 40px;
    }

/* Footer */

    
}

/* For landscape tablet devices */

@media only screen and (min-width: 768px) {

    #content {
      grid-template-columns: 1fr 1fr 1fr; 
      align-items: center;
      padding: 40px;
  }

}

/* Landing page layout for tablet devices */

@media only screen and (max-width: 991px) {

    #landing-page {
      grid-template-columns: 1fr !important;
      grid-template-rows: auto auto !important;
      overflow:hidden;
      gap: 40px;
    }

    #landing-page > #lanpage-text {
        padding-left: 45px;
    }

    #register-box {
        flex-direction: column;
    }

    #register-form {
        flex-direction: column;
        width: 100%;
    }

    #register-form, #subscribe-btn {
        width: 100% !important;
    }

    #footer-top {
        flex-direction: column;
    }

    #footer-top > ul {
        padding: 20px;
        gap: 20px;
        justify-content:space-between;
    }

  #footer-top > div {
      padding: 10px 60px;
  }

  #footer-bottom {
      display: grid !important;
      grid-template-columns: 1fr !important;
      grid-template-rows: auto auto auto !important;
      gap: 20px;
      justify-self: center;
      place-items: center;
  }

  #footer-creds {
      order: 2;
  }

  #footer-logo {
      order: 1;
      align-content: center;
  }

  #footer-bottom > ul {
      order: 3;
    }
}

/* For desktop */

@media only screen and (min-width: 992px) {

/* Products Container */

    #content {
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        align-items: center;
        padding: 40px;
    }

    #search-btn {
        display: none;
    }

    #join-btn,
    #search-bar,
    #languages {
        display: inline-block;
    }

}